<p id="notice">Produto comprado
</p>


<p>
  <b>Cep:</b>
  <%= @endereco.cep %>
</p>

<p>
  <b>Complemento:</b>
  <%= @endereco.complemento %>
</p>


<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
